body{
    background-color: #f0f5f8;
    color: #040404;
    font-family: "Microsoft YaHei",sans-serif;
}
p {
    padding: 0;
    margin: 0;
}
.clear {
    clear: both;
}
/*黑色文字a标签样式*/
a.black:link,
a.black:visited{
    text-decoration: none;
    color: #040404;
}
a.black:hover,
a.black:active {
    text-decoration: underline;
    color: #040404;
}
/*白色文字a标签样式*/
a.white:link,
a.white:visited{
    text-decoration: none;
    color: #fff;
}
a.white:hover,
a.white:active {
    text-decoration: underline;
    color: #fff;
}
/*红色文字a标签样式*/
a.red:link,
a.red:visited{
    text-decoration: none;
    color: #e44b3b;
}
a.red:hover,
a.red:active {
    text-decoration: underline;
    color: #e44b3b;
}
/*
*内容开始
*/
.top_pic {
    width: 100%;
    height: 363px;
    text-align: center;
    background: url(images/zhuanti_01.jpg) no-repeat center;
}
.wrap {
    width: 1010px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
}

/**运营基础知识*****/
.jichubox {
    text-align: center;
    margin-bottom: 60px;
}
.jichu_title {
    color: #7c3e33;
    font-size: 32px;
    line-height: 60px;
    background-image: url(images/zhuanti_03.jpg);
    margin-bottom: 40px;
}
.jichu_left {
    float: left;
    width: 280px;
    font-size: 14px;
    margin: 0 28px;
}
.jichu_left_blue {
    vertical-align: middle;
    margin-bottom: 15px;
}
.blue_yuan {
    position: relative;
    z-index: 1;
    float: left;
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    background-color: #62b9d5;
    border-radius: 14px;
    -ms-border-radius: 14px;
    -webkit-border-radius: 14px;
    -o-border-radius: 14px;
    -moz-border-radius: 14px;
}
.blue_xian {
    position: relative;
    top: -14px;
    float: left;
    height: 1px;
    width: 280px;
    background-color: #62b9d5;

}
.jichu_icon {
    margin: 20px 0;
    clear: both;
}
.word_title:link,
.word_title:visited {
    color: #040404;
    text-decoration: none;
}
.word_title:hover,
.word_title:active {
    color: #040404;
    text-decoration: underline;
}
.word_title {
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
}

.word_text {
    text-align: left;
    line-height: 24px;
}
.word_xiangqing {
    color: #e44b3b;
    line-height: 24px;
    text-align: right;
}
.jichu_center {
    float: left;
    width: 280px;
    font-size: 14px;
    margin: 0 28px;
}
.jichu_right {
    float: right;
    width: 280px;
    font-size: 14px;
    margin: 0 28px;
}
.jichu_red {
    background-color: #e44b3b;
    color: #fff;
    font-size: 14px;
    text-align: left;
    line-height: 32px;
    padding: 40px 25px;
    margin: 25px 28px;
}
.jichubox img:hover {
    opacity: .85;
    filter:alpha(opacity=85);
}

/**运营初级篇*****/
.chujibox {
    text-align: center;
    margin-bottom: 60px;
}
.chuji_pic {
    width: 280px;
    height: auto;
    margin: 0;
}
.left_title {
    position: relative;
    top: -4px;
    width: 280px;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    background-image: url(images/zhuanti_21.jpg);
    margin: 0;
}
.center_title {
    position: relative;
    top: -4px;
    width: 280px;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    background-image: url(images/zhuanti_23.jpg);
    margin: 0;
}
.right_title {
    position: relative;
    top: -4px;
    width: 280px;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    background-image: url(images/zhuanti_25.jpg);
    margin: 0;
}
.first_text {
    margin: 10px 5px 0 5px;
    text-align: left;
    line-height: 24px;
}
.second_text {
    margin: 20px 5px 0 5px;;
    text-align: left;
}
.left_title:hover,
.center_title:hover,
.right_title:hover {
    text-shadow: 2px 2px 0 rgba(26,53,30,.2);
}

/**运营中级篇*****/
.zhongjibox {
    margin-bottom: 40px;
    text-align: center;
}
.zhongji {
    float: left;
    margin: 0 10px 40px 10px;
    width: 485px;
    height: 180px;
}
.zhongji_left {
    float: left;
    margin-right: 15px;
}
.zhongji_left_title {
    background-color: #65c0ef;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    border-radius: 3px;
}
.zhongji_right_title {
    font-weight: bold;
    text-align: left;
    margin: 10px 0;
    font-size: 14.5px;
}
.zhongji_right_text {
    text-align: left;
    font-size: 14px;
    line-height: 28px;
}

/**运营高级篇*****/
.gaojibox {
    margin-bottom: 60px;
    text-align: center;
}
.gaoji {
    height: 720px;
    background: url(images/zhuanti_31.jpg) no-repeat center;
}
.gaoji_one {
    float: left;
    width: 448px;
    height: 220px;
    background: url(images/zhuanti_34.jpg) no-repeat center;
    margin-top: 20px;
    margin-left: 25px;
}
.gaoji_three {
    float: left;
    width: 448px;
    height: 220px;
    background: url(images/zhuanti_34.jpg) no-repeat center;
    margin-top: 60px;
    margin-left: 25px;
}
.gaoji_title {
    font-size: 18px;
    color: #fff;
    line-height: 40px;
}
.gaoji_text {
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    margin: 20px 25px 0 25px;
}
.gaoji_two {
    float: right;
    width: 448px;
    height: 220px;
    background: url(images/zhuanti_37.jpg) no-repeat center;
    margin-top: 190px;
    margin-right: 25px;
}
.gaoji_four {
    float: right;
    width: 448px;
    height: 220px;
    background: url(images/zhuanti_37.jpg) no-repeat center;
    margin-top: 70px;
    margin-right: 25px;
}
.gaoji_title:hover {
    text-shadow: 2px 2px 0 rgba(26,53,30,.2);
}
/**视频详解篇*****/
.xiangjiebox {
    text-align: center;
    margin-bottom: 30px;
}
.xiangjie {
    margin: 0 15px;
}
.shipin {
    float: left;
    margin: 15px 15px;
}
.shipin_title {
    background-color: #e44b3b;
    color: #fff;
    width: 215px;
    text-align: center;
    line-height: 32px;
}
.shipin_title:hover {
    text-shadow: 2px 2px 0 rgba(53,23,30,.2);
}
